@import "tailwindcss";

:host {
  display: inline-flex;
  vertical-align: middle;
  cursor: pointer;
}

/* Estado deshabilitado a nivel de host */
:host([disabled]) {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
